*{
    margin :0;
    padding : 0;
}
body{
    background-color:#EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;
}
.profile{
    width: 100px;
    height:120px;
    border:3px solid white;
    border-radius: 50%;
    float:left
}
.bio{
    float: left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;
}
.bio2{
    float:right;
}
.bio2 a{
    text-decoration: none;
    color:teal;
    font-weight: bold;
}
.bio2 a:hover{
    text-decoration: underline;
    color:orangered;
}
.div-clear{
    clear:both;
}
hr{
    border:solid black 3px;
    width: 100%;
    margin:20px auto
}
.content{
    margin-bottom: 30px;
}
.rightdiv{
    width:70%;
    float:left;
}
.leftdiv{
    width: 30%;
    float: left;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin:20px auto
}
.edu-divright{
    float:left;
    width: 45%;
}
.edu-divleft{
    float:left;
    width: 45%;
}
.bottom-container{
    background-color: black;
    text-align:center;
    padding:10px;
}
.bottom-container a{
    color:white;
    text-decoration: none;
    margin:20px;
}
.bottom-container p{
    color: white;
    margin-top: 10px;
}